[user]
  name = Jose Varela
  email = joservarelaf@gmail.com
[github]
  user = cabe56
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[alias]
  # Basic
  s = status
  d = diff --ignore-space-at-eol -b -w --ignore-blank-lines
  ds = diff --staged
  a = add
  c = commit -m
  b  = branch
  co = checkout
  cob = checkout -b
  stash-co = checkout stash@{0} -- $1

  # Remote
  pl = pull
  # assumes push.default == current
  ph = push -u
  pf = push --force-with-lease
  r = remote -v
  ra = remote add

  # Undo
  undo-confirm = reset --hard
  delete = reset --soft "HEAD^"
  amend = commit -C HEAD --amend

  # Stash
  sl = stash list
  pop = stash pop
  sf = !sh -c 'git stash show -p stash@{$1}' -

  # Repo
  today = "!sh -c 'git log --reverse --no-merges --branches=* --date=local --after=\"yesterday 11:59PM\" --author=\"`git config --get user.name`\"'"
  yesterday = "!sh -c 'git log --reverse --no-merges --branches=* --date=local --after=\"yesterday 12:00AM\" --author=\"`git config --get user.name`\"'"
  update = submodule foreach git pull origin master
  logs = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lc = show --pretty="format:" --name-only HEAD^

  # Remove
  clean = clean -f -d
  delete-tag = !git push origin :refs/tags/$1 && git tag -d $1
  delete-branches = !sh -c 'git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D'
[credential]
  helper = osxkeychain
[core]
  editor = vim
[push]
  default = current
